* {
    margin: 0;
    padding: 0;
}

.app {
    max-width: 1000px;
    margin: 10px auto;
    font-family: sans-serif;
}

#canvas {
    border-radius: 4px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.controls-container {
    display: flex;
    justify-content: center;
}

.controls {
    border-radius: 4px;
    border: 2px solid #ddd;
    width: 200px;
    margin: 0 5px;
    padding: 10px;
}

.car1-controls {
    border-color: rgb(49, 107, 182);
}

.car2-controls {
    border-color: rgb(96, 176, 119);
}

.navigation button {
    width: 65px;
    margin: 5px;
}

.navigation {
    text-align: center;
}

.speed-input {
    margin-top: 10px;
}

    .speed-input input {
        width: 50px;
    }
